<div class="tools-nav">
    <nav>
        <ul>
            <li>
                @Html.ActionLink("Pradžia", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Pranešimai", "Index", "Notifications")
                <ul>
                    <li>@Html.ActionLink("Visi pranešimai", "Index", "Notifications")</li>
                    <li>@Html.ActionLink("Archyvuoti pranešimai", "Archived", "Notifications")</li>
                </ul>
            </li>
            <li>
                @Html.ActionLink("Rezervacijos", "Index", "Rezervations")
                <ul>
                    <li>@Html.ActionLink("Visos rezervacijos", "Index", "Rezervations")</li>
                    <li>@Html.ActionLink("Nauja rezervacija", "New", "Rezervations")</li>
                    <li>@Html.ActionLink("Laukiančios patvirtinimo", "Pending", "Rezervations")</li>
                    <li>@Html.ActionLink("Šiuo metu aktyvios", "Active", "Rezervations")</li>
                    <li>@Html.ActionLink("Praėjusios rezervacijos", "Archived", "Rezervations")</li>
                </ul>
            </li>
            <li>
                @Html.ActionLink("Kalendorius", "Index", "Calendar")
                <ul>
                    <li>@Html.ActionLink("Dienos", "Day", "Calendar")</li>
                    <li>@Html.ActionLink("Savaitės", "Week", "Calendar")</li>
                    <li>@Html.ActionLink("Mėnesio", "Month", "Calendar")</li>
                </ul>
            </li>
            <li>
                @Html.ActionLink("Įranga", "Index", "Equipment")
                <ul>
                    <li>@Html.ActionLink("Atskiri įrangos vienetai", "Equipment", "Equipment")</li>
                    <li>@Html.ActionLink("Įrangos komplektai", "Bundles", "Equipment")</li>
                    <li>@Html.ActionLink("Nuomojama (rodoma) įranga", "ForRent", "Equipment")</li>
                    <li>@Html.ActionLink("Įrangos tipai", "Types", "Equipment")</li>
                </ul>
            </li>
            @*<li>
                @Html.ActionLink("Ataskaitų generavimas", "Index", "Reports")
            </li>*@
            <li>
                @Html.ActionLink("Sistemos nustatymai", "Index", "System")
            </li>
        </ul>
    </nav>
    <footer>
        <p>
            Visos teisės saugomos, @DateTime.Now.Year
        </p>
    </footer>
</div>
